<% // Render individual movie details here %>
<% // This is how to do comments in EJS, by the way... %>

  <h1><%= movie.Title %></h1>
  
  <p>Year: <%= movie.Year %>, Rated: <%= movie.Rated %></p>

  <p>Summary: <%= movie.Plot %></p>
