<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>

<form method="GET" action="/results">
    <label for="search">Movie Search:</label>
    <input id="search" name="userSearch" type="text"
    placeholder="enter search..." />  

  <button type="submit">Search</button>
</form>